/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 10px;
    @include break($med) {
      max-width: 1400px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
    @include break($med) {
      flex-direction: row;
    }
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    @include break($med) {
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: center;
    }
  }
  
  .theme.col-1 {
    background-color: $info;
  }
  
  .theme.col-2 {
    background-color: $warning
  }
  
  .theme.col-3 {
    background-color: $extra-color-1;
  }
  
  .theme.col-4 {
    background-color: $extra-color-2;
  }
  
  .theme.col-5 {
    background-color: $extra-color-3;
  }
  
  .theme.col-6 {
    background-color: $extra-color-4;
  }
  
  .theme.col-7 {
    background-color: $extra-color-5;
  }
  
  .theme.col-8 {
    background-color: $extra-color-6;
  }
  
  .theme.col-9 {
    background-color: $error;
  }
  
  .theme.col-10 {
    background-color: $secondary;
  }
  
  .theme.col-11 {
    background-color: $primary;
  }
  
  .theme.col-12 {
    background-color: $extra-color-7;
  }
  
  .card {
    flex-basis: 100%;
  }
  