/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@include break($med) {
    .centered {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
  
      [class^=col] + [class^=col] {
        margin-left: 10px;
      }
      
      .logo {
        margin-left: initial;
        margin-right: initial;
      }
}

@include break($med) {

  @for $i from 1 through 12 {
      @if $i == 1 {
          .col-#{$i} {
              flex-basis: $flex-value;
          }
      }
      @else {
          .col-#{$i} {
              flex-basis: $flex-value * $i + 0.01;
          }
      }   
  }
}