/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@include break($med) {
    .centered {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
  
      [class^=col] + [class^=col] {
        margin-left: 10px;
      }
      
      .logo {
        margin-left: initial;
        margin-right: initial;
      }
}